.object-tile {
  position: relative;
  width: 230px;
  height: 230px;
  margin: 10px;
  background-color: black;

  .tile-image {
    transition: opacity 0.3s;
    display: block;
    width: 100%;
    height: auto;
  }

  & > a > p {
    position: absolute;
    top: 5px;
    left: 5px;
    visibility: hidden;
    color: white;
    margin: 0;
    text-shadow: 1px 1px 2px black;
  }

  &:hover {
    .tile-image {
      opacity: 0.4;
    }

    & > a > p {
      visibility: visible;
    }
  }

  .object-designer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;

    & > img {
      display: block;
      width: 100%;
      height: auto;
      z-index: 1;
      border-radius: 90px;
    }
  }
}
@media only screen and (max-width: 900px) {
  .object-tile {
    width: 45%;
    height: auto;

    .object-designer {
      width: 40px;
    }
  }
}
@media only screen and (max-width: 425px) {
  .object-tile {
    width: 40%;
    height: auto;

    .object-designer {
      width: 30px;
    }
  }
}
