.contribute-container {
  margin: 0 auto 5% auto;
  max-width: 1000px;
}

.contribute-content h1 {
  text-transform: uppercase;
}

.contribute-content h2 {
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

.contribute-content h2 > a {
  text-decoration: none;
  color: inherit;
}

.contribute-content p {
    text-align: justify;
}

.contributions {
    display: flex;
    flex-flow: row wrap;
}

.contributions > a {
  height: 300px;
}

.contributions > a > img {
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 1205px) {
  .banner {
      margin: 0 0 20px 0;
  }
}
