.intro {
  margin-left: 160px;
  max-width: 750px;
}

.intro > h1 {
  text-transform: uppercase;
}

.home-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  margin: 0 150px 0 150px;
}

.nav-link {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.nav-link > a {
  min-width: 100px;
  flex: auto;
  color: black;
  text-decoration: none;
}

.masonry {
  max-width: 460px;
}

.masonry > div {
  position: relative;
  /* overflow: auto; */
  margin-bottom: 5em;
}

.masonry > div > p {
  position: absolute;
  left: 5px;
  bottom: 5px;
  visibility: hidden;
  color: white;
  margin: 0;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  text-shadow: 1px 1px 2px black;
}

.masonry > div > a > img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.masonry > div:hover img {
  opacity: 1;
}

.masonry > div:hover p {
  visibility: visible;
  opacity: 1;
}
