.tutorials-container {
  max-width: 1260px;
  margin: 0 auto 80px auto;
}

.tutorials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tutorial-item {
  width: 450px;
  margin-bottom: 30px;
}

.tutorial-item > a > img {
  width: 100%;
  margin-bottom: 20px;
}

.tutorial-item > h2 {
  text-transform: lowercase;
  text-align: center;
}
