.tutorials-container {
  max-width: 1380px;
  margin: 0 auto;

  & > h1{
    margin-left: 20px;
  }
  
  .tutorials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .tutorial-item {
    max-width: 380px;
    padding: 20px;
    margin-bottom: 40px;

    & > a {
      height: 240px;
    }

    & > h2 {
      text-transform: lowercase;
      text-align: center;
    }
  }
}
