.uses-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  margin-bottom: 50px;
  padding: 15px;

  .use-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 70px;

    & > div > p {
        margin-bottom: 5px;
    }

    & > img {
      flex-shrink: 0;
      max-height: 300px;
      max-width: 300px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .use-item.item-even > div {
    margin-left: 20px;
  }

  .use-item.item-odd > div {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .uses-container {

    .use-item {
      justify-content: center;
      flex-wrap: wrap;

      & > div > h2 {
        text-align: center;
      }
    }

    .use-item.item-odd {
      flex-wrap: wrap-reverse;
    }
  }
}
