.social-bar {
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 5000;
  position: fixed;
  bottom: 5px;
  right: 5px;

  .social {
      writing-mode: tb-rl;
      margin-bottom: 10px;
  }

  a {
    color: #222;
    text-decoration: none;
  }
}
