.social-bar {
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 0;
  position: fixed;
  bottom: 5px;
  right: 5px;

  .social {
      writing-mode: tb-rl;
      margin: 0 0 10px 0;
  }

  a {
    color: #222;
    text-decoration: none;
  }
}
