.top-bar {

    padding: 10px;

    .logo {
        width: 40px;
        margin: 5px;
    }

    .links {
        display: flex;
        float: right;
        margin: 0px;
        margin-right: 10px;
    }

    .link-item {
        margin: 5px;
        list-style: none;

        a {
            color: #222;
            text-decoration: none;
        }
    }
}