.tiles {
  display: flex;
  flex-flow: row wrap;

  .featured-tile {
    position: relative;
    width: 230px;
    height: 230px;
    margin: 10px;
    background-color: black;

    .featured-image {
      transition: opacity 0.3s;
      width: 100%;
      height: auto;
    }

    & > p {
      color: white;
      font-weight: bold;
      margin: 0;
      visibility: hidden;
      z-index: 1;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    &:hover {
      .featured-image {
        opacity: 0.4;
      }

      & > p {
        visibility: visible;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .tiles {
    justify-content: center;
  }
}
@media only screen and (max-width: 900px) {
  .tiles .featured-tile {
    width: 45%;
    height: auto;
  }
}
@media only screen and (max-width: 425px) {
  .tiles .featured-tile {
    width: 40%;
    height: auto;
  }
}
