.home-container {
  max-width: 1520px;
  margin: 0 auto;

  .intro {
    margin-left: 250px;
    padding: 0 20px;
  }

  .home-content {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    .search-wrap {
      align-self: flex-start;
      flex-shrink: 0;
      display: flex;
      flex-flow: column;
      position: sticky;
      top: 20px;
      width: 220px;
      margin: 0 30px 0 0;
      padding: 0 10px 10px 10px;

      &>a {
        display: flex;
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
      }

      .stw-icon {
        margin-right: 5px;
        width: auto;
        max-width: none;
        width: 21px;
      }
    }

    .search-container {
      display: flex;
      flex: 1;
      flex-flow: column;
      justify-content: flex-start;
    }

    .masonry {
      align-content: flex-end;
      margin: 0 30px;
      max-width: 460px;

      &>iframe {
        width: 100%;
        margin-bottom: 50px;
      }

      &>div {
        position: relative;
        min-width: 215px;
        margin-bottom: 5em;

        &>a>p {
          position: absolute;
          left: 5px;
          bottom: 5px;
          visibility: hidden;
          color: white;
          margin: 0;
          opacity: 0;
          transition: opacity 0.2s, visibility 0.2s;
          text-shadow: 1px 1px 2px black;
        }

        .masonry-image {
          height: auto;
          opacity: 0.4;
          transition: opacity 0.3s;
        }

        &:hover {
          .masonry-image {
            opacity: 1;
          }

          &>a>p {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .home-container {
    .intro {
      display: none;
    }

    .home-content {
      flex-flow: column;
      align-items: center;

      .search-wrap {
        align-self: center;
        width: 100%;
        position: static;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 1265px) {
  .search-container {
    flex-shrink: 0;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1265px) {
  .home-container .intro {
    margin-left: 250px;
    // padding: 0 10px;
  }

  .search-container {
    width: 500px;
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 1016px) {
  .home-container {

    .home-content {
      .masonry {
        display: none;
      }
    }

    .intro {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .off-canvas-wrap {
    overflow: visible;
  }
}
