.tutorial-container {
  max-width: 900px;
  margin: 0 auto 50px auto;
  padding: 15px;

  p {
    margin-bottom: 20px;
  }

  a {
    color: rgb(48, 48, 48);
    text-decoration: none;
  }

  .tutorialHTML{
      a{
        text-decoration: underline;
      }
  }
}
