.about-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.about-content {
  max-width: 960px;
}

.about-content > img {
  height: 100px;
}

.team h2 {
  text-align: center;
  text-transform: uppercase;
}
