
.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
}

.scan-the-world {
  align-self: flex-start;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .intro {
    font-size: 20px;
    margin-bottom: 50px;

        h1 {
            font-weight: 300;
            b {
              font-weight: 600;
            }
            i {
              font-weight: 400;
            }
            text-decoration: underline;
            text-underline-position: above;
        }
  }

  .tiles {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
