.object-tile {
  position: relative;
  width: 230px;
  height: 230px;
  margin: 10px;
}

.object-tile > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.object-tile > p {
  position: absolute;
  top: 5px;
  left: 5px;
  visibility: hidden;
  color: white;
  margin: 0;
  text-shadow: 1px 1px 2px black;
}

.object-tile:hover p {
  visibility: visible;
}

.object-designer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
}

.object-designer > img {
  width: 100%;
  height: auto;
  z-index: 1;
  border-radius: 90px;
}

.loader svg {
      width: 230px;
      margin: 10px;
}
