.object-tile-a {
    text-decoration: none;
}
.object-tile {
    min-width: 230px;
    min-height: 230px;
    margin: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.object-tile:hover {
    width: 230px;
    height: 230px;
    margin: 10px;

    .info{
        text-decoration: none;
        display: block;
    }
}

.info{
    display: none;
    color: white;
    margin: 0px;
    padding: 10px;

    p{
        margin: 0px;
        text-shadow: 1px 1px 2px black;
    }
}

.loader {
    svg {
        width: 230px;
        margin: 10px;
    }
}
