.stw-header {
  margin: 40px 50px 20px 50px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.stw-logo {
  height: 30px;
  max-width: none;
  width: auto;
}

.stw-header > nav {
  display: flex;
  flex-flow: row wrap;
}

.stw-header > nav > a {
  color: black;
  font-family: 'atamiregular', sans-serif!important;
  text-decoration: none;
  margin-left: 10px;
}

.stw-header > nav > a:hover {
  text-decoration: underline;
}
