.search-container {
  display: flex;
  justify-content: flex-start;
  max-width: 1201px;
}

.search-wrap {
  align-self: flex-start;
  position: sticky;
  max-width: 250px;
  top: 10px;
  margin: 10px 30px 0 30px;
}
