.search-container {
  display: flex;
  flex-flow: row;
  max-width: 1030px;
  justify-content: flex-start;
}

.search-wrap {
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  position: fixed;
  width: 200px;
  margin: 10px 30px 0;
}

.search-wrap > img {
  align-self: flex-start;
}

.search-wrap > a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  margin-bottom: 30px;
}

.nav-link {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
}

.nav-link > a {
  min-width: 100px;
  font-family: 'atamiregular', sans-serif!important;
  flex: auto;
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .search-container {
    flex-flow: column;
  }

  .search-wrap {
    width: inherit;
    position: inherit;
  }

  .nav-link {
      margin-bottom: 0;
  }

  .nav-link > a {
    min-width: inherit;
    margin-right: 20px;
    text-align: center;
  }
}
