.stories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .story-item {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 380px;
    height: 420px;
    padding: 20px;
    margin: 0 40px 40px 0;
  }

  .story-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.4);

    a {
      text-decoration: none;
      text-align: center;
      margin: 0;
    }

    h1 {
      color: white;
    }
  }

  .story-footer {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }

    a {
      margin: 0;
      text-decoration: none;
      color: black;
    }
  }
}

@media only screen and (max-width: 600px) {
  .stories .story-item {
    margin-right: 0;
  }
}
