.members {
  display: flex;
  flex-flow: column;
}

.member {
    max-width: 180px;
    margin-bottom: 50px;
    padding: 15px;
}

.member p {
  margin: 0;
}

.stw-quote {
  margin-top: 15px;
  color: rgb(48, 48, 48);
  text-align: right;
}

.member img {
  display: block;
  margin: 0 auto 10px auto;
  max-width: 100px;
  border-radius: 90px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1310px) {
    .members {
      flex-flow: row wrap;
      justify-content: space-around;
    }
}
